body {
    font-family: 'Lato', sans-serif;
    min-width: 320px;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    width: 100%;
}

input:focus,
button:focus,
a:focus {
    outline: none;
}

input:focus-visible,
button:focus-visible,
a:focus-visible {
    outline: 2px solid #F16D7F;
}



/*====   Header style start   ====*/
.main-header {
    background-color: #222;
    height: 75px;
}

.main-header-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.main-header-logo-holder {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-header-search-form {
    margin-left: 40px;
    display: flex;
}

.search-form__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-form__label:hover .search-form-icon {
    fill: #f16d7f;
}

.search-form__label:active .search-form-icon {
    fill: #e8e8e8;
}

.search-form-icon {
    width: 26px;
    height: 26px;
    fill: #e8e8e8;
}

.search-form__input {
    width: 0;
    min-height: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.search-form__input:focus {
    width: 150px;
    margin-right: 10px;
    transition: width 1s ease;
    border: 1px solid #f1e4e6;
    padding: 5px;
}

.main-header-nav-holder {
    display: flex;
    align-items: center;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 23px;
}

.main-menu__icon {
    position: relative;
    background: #e8e8e8;
    width: 32px;
    height: 3px;
}

.main-menu__icon::after,
.main-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: #e8e8e8;
    width: 100%;
    height: 3px;
}

.main-menu__icon::after {
    top: 9px;
}

.main-menu__icon::before {
    top: -9px;
}

.main-menu__btn:hover .main-menu__icon,
.main-menu__btn:hover .main-menu__icon::after,
.main-menu__btn:hover .main-menu__icon::before {
    background-color: #f16d7f;
}

.main-menu__btn:active .main-menu__icon,
.main-menu__btn:active .main-menu__icon::after,
.main-menu__btn:active .main-menu__icon::before {
    background-color: #e8e8e8;
}

.main-menu__container {
    background-color: #fff;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 999;
    height: 0;
    min-width: 230px;
    opacity: 1;
    transition: .5s;
    transition-delay: .2s;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    overflow: hidden;
}

.main-menu__list {
    transition: .5s;
    transition-delay: .5s;
    padding: 15px 15px 15px 35px;
}

.main-menu__checkbox {
    display: none;
}

.main-menu__checkbox:checked~.main-menu__container {
    height: 764px;
    transition-delay: 0s;
}

.main-menu-close-btn {
    cursor: pointer;
    display: block;
    margin-left: auto;
    position: relative;
    width: 15px;
    height: 15px;
}

.main-menu-close-btn::after,
.main-menu-close-btn::before {
    content: "";
    display: block;
    position: absolute;
    background: #6f6e6e;
    width: 100%;
    height: 2px;
    top: 7px;
}

.main-menu-close-btn:hover::after,
.main-menu-close-btn:hover::before {
    background: #f16d7f;
}

.main-menu-close-btn:active::after,
.main-menu-close-btn:active::before {
    background: #6f6e6e;
}

.main-menu-close-btn::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.main-menu-close-btn::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main-menu-title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.main-menu__link:hover {
    color: red;
}

.main-menu__link:active {
    color: #f16d7f;
}

.main-menu__link {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f16d7f;
}

.main-menu-sublist {
    margin-bottom: 20px;
}

.main-menu-sublist-item {
    padding-left: 20px;
}

.main-menu-sublist-item:not(:last-child) {
    padding-bottom: 12px;
}

.main-menu-sublist-link {
    color: #6f6e6e;
    font-size: 14px;
    text-decoration: none;
}

.main-menu-sublist-link:hover {
    color: #f16d7f;
}

.main-menu-sublist-link:active {
    color: #6f6e6e;
}

.main-user-link {
    margin: 0 25px;
}

.main-user-link,
.main-cart-icon {
    cursor: pointer;
}

.main-user-link:hover .user-icon-link,
.main-cart-icon:hover .cart-icon-link {
    fill: #f16d7f;
}

.main-user-link:active .user-icon-link,
.main-cart-icon:active .cart-icon-link {
    fill: #e8e8e8;
}

.user-icon-link,
.cart-icon-link {
    width: 29px;
    height: 29px;
    fill: #e8e8e8;
}

.main-cart-icon {
    position: relative;
}

.main-cart-index {
    border-radius: 50%;
    background-color: #f16d7f;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 19px;
    min-height: 19px;
    position: absolute;
    right: -10px;
    top: -7px;
}

/*====    Header style end    ====*/



/*====   Main Banner style start   ====*/
.main-banner {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.main-banner-container {
    display: flex;
    height: 100%;
    align-items: center;
    background: url(../images/main_img.png) 15px transparent no-repeat;
    background-size: contain;
}

.main-banner-title {
    position: relative;
    margin-left: 54%;
    color: #222;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    padding-left: 28px;
    text-transform: uppercase;
}

.main-banner-title::before {
    content: "";
    position: absolute;
    left: 0;
    width: 12px;
    height: 100%;
    background-color: #f16d7f;
}

.main-banner-subtitle {
    display: block;
    font-size: 38px;
    line-height: 38px;
}

.colored-txt {
    color: #f16d7f;
}

/*====    Main Banner style end    ====*/



/*====   Main Categories style start   ====*/
.categories {
    margin-bottom: 95px;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-small-item {
    min-height: 260px;
    margin-bottom: 30px;
    width: calc(33.3333333% - 20px);
}

.categories-small-item,
.categories-big-item {
    background: center center transparent no-repeat;
    background-size: cover;
}

.categories-small-item:first-child {
    background-image: url(../images/category_women.png);
}

.categories-small-item:nth-child(2) {
    background-image: url(../images/category_men.png);
}

.categories-small-item:nth-child(3) {
    background-image: url(../images/category_kids.png);
}

.categories-big-item {
    background-image: url(../images/category_accesories.png);
    min-height: 180px;
    width: 100%;
}

.categories-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(33, 22, 22, 0.7);
    text-decoration: none;
    text-align: center;
}

.categories-item:hover {
    background: transparent;
}

.categories-item:active {
    background: rgba(33, 22, 22, 0.7);
}

.categories-item-title {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-transform: uppercase;
}

.categories-item-subtitle {
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
    text-transform: uppercase;
}

/*====    Main Categories style end    ====*/



/*====   Main Items style start   ====*/
.items {
    margin-bottom: 95px;
}

.item-title {
    font-size: 30px;
    line-height: 36px;
    color: #222;
    margin-bottom: 6px;
    text-align: center;
}

.item-txt {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 48px;
    text-align: center;
    color: #9f9f9f;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
}

.item-card {
    width: calc(33.3333333% - 20px);
    margin-bottom: 30px;
}

.item-card-article {
    background-color: #f8f8f8;
}

.item-card-img-wrp {
    position: relative;
}

.item-card-img-wrp:hover .item-card-btn {
    display: flex;
}

.item-card-img-wrp:hover .item-card-link::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
}

.item-card-link {
    display: block;
}

.item-card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 13px;
    height: 44px;
    border: 1px solid #fff;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    display: none;
}

.item-card-btn:hover {
    border-color: #f16d7f;
    color: #f16d7f;
}

.item-card-btn:hover svg {
    fill: #f16d7f;
}

.item-card-btn:active {
    border-color: #fff;
    color: #fff;
}

.item-card-btn:active svg {
    fill: #fff;
}

.item-card-btn svg {
    fill: #fff;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.item-card-btn span {
    white-space: nowrap;
}

.item-card-img {
    width: 100%;
    height: auto;
}

.item-card-txt-wrp {
    padding: 25px 15px 20px 15px;
}

.txt {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.item-card-title {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 13px;
    color: #000;
}

.item-card-txt {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 18px;
    color: #5d5d5d;
}

.item-card-price {
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
}

.item-btn {
    border: 1px solid #ff6a6a;
    min-height: 47px;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    padding: 0 39px;
    background-color: #f16d7f;
    margin: 0 auto;
}

.item-btn:hover {
    color: #f16d7f;
    background-color: #fff;
}

.item-btn:active {
    color: #fff;
    background-color: #f16d7f;
}

/*====    Main Items style end    ====*/



/*====   Main Features style start   ====*/
.features {
    background-color: #222224;
    min-height: 341px;
}

.features-container {
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-item {
    width: calc(33.3333333% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-item-icon {
    height: 40px;
    fill: #f16d7f;
    margin-bottom: 20px;
}

.features-item-title {
    color: #fbfbfb;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.features-item-txt {
    color: #fbfbfb;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

/*====    Main Features style end    ====*/



/*====   Breadcrumbs style start   ====*/
.breadcrumbs {
    background-color: #F8F3F4;
}

.breadcrumbs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 148px;
    height: 1px;
}

.breadcrumbs-container:not(.product-breadcrumbs) {
    margin-bottom: 50px;
}

.page-title {
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-right: 20px;
}

.breadcrumbs-list {
    display: flex;
}

.breadcrumbs-item {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F16D7F;
}

.breadcrumbs-link {
    color: #636363;
    text-decoration: none;
}

.breadcrumbs-link:hover {
    text-decoration: underline;
}

.breadcrumbs-link:active {
    text-decoration: none;
}

.breadcrumbs-item+.breadcrumbs-item:before {
    padding-left: 5px;
    padding-right: 5px;
    color: #636363;
    content: "/\00a0";
}

/*====    Breadcrumbs style end    ====*/



/*====   Filters style start   ====*/
.item-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item-filters-category {
    min-width: 360px;
    margin-right: 30px;
    position: relative;
    padding: 13px 16px 16px 16px;
}

.item-filters-size {
    position: relative;
}

.item-filters-trending,
.item-filters-size {
    margin-right: 28px;
}

.filter-feature {
    display: flex;
}

#switch-filter-category,
.filter-feature-switch-input {
    display: none;
}

#switch-filter-category:checked~.item-filters-category-list-wrp,
.filter-feature-switch-input:checked~.filter-feature-list-wrp {
    display: block;
}

.item-filters-category-btn,
.filter-feature-switch-btn {
    display: block;
    width: 100%;
    margin: 0 0 16px 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 14px;
    line-height: 16.8px;
    text-transform: uppercase;
    white-space: nowrap;
}

.filter-feature-switch-btn .fa-solid {
    padding-left: 10px;
}

.item-filters-category-btn {
    color: #000;
}

.filter-feature-switch-btn {
    color: #6f6e6e;
}

.item-filters-category-btn svg {
    margin: 0 0 0 11px;
    fill: currentColor;
}

.item-filters-category-btn:hover,
.filter-feature-switch-btn:hover {
    color: #f16d7f;
}

.item-filters-category-btn:active,
.filter-feature-switch-btn:active {
    color: #222224;
}

.item-filters-category-list-wrp,
.filter-feature-list-wrp {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    padding: 13px 16px 16px 16px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.item-filters-category-list-wrp {
    top: 0;
}

.filter-feature-list-wrp {
    top: 20px;
    min-width: 80px;
}

.item-filters-category-list-link {
    display: block;
    width: 100%;
    margin: 0 0 18px 0;
    padding: 11px;
    font-size: 14px;
    line-height: 16.8px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.item-filters-category-list-link:before {
    content: "";
    display: block;
    width: 5px;
    height: 37px;
    background-color: #EF5B70;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.item-filters-category-list-link {
    text-transform: uppercase;
    color: #ef5b70;
    text-decoration: none;
}

.item-filters-category-list-link:hover:before {
    background-color: red;
}

.item-filters-category-list-link:hover {
    color: red;
}

.item-filters-category-list-link:active:before {
    background-color: #ccc;
}

.item-filters-category-list-link:active {
    color: #ccc;
}

.item-filters-category-sublist {
    margin: 24px 0 0 0;
    padding: 0 0 0 7px;
}

.item-filters-category-sublist-item {
    margin: 0 0 11px 0;
    font-size: 14px;
    line-height: 16.8px;
}

.item-filters-category-sublist-item:last-child {
    margin: 0 0 24px 0;
}

.item-filters-category-sublist-item a {
    color: #6f6e6e;
    text-decoration: none;
}

.item-filters-category-sublist-item:hover a {
    color: #ef5b70;
}

.item-filters-category-sublist-item:active a {
    color: #000;
}

.item-filters-size-list-item-title {
    display: flex;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16.41px;
    color: #6f6e6e;
}

.item-filters-size-list-item-title:not(:last-child) {
    margin-bottom: 6px;
}

.item-filters-size-list-item-title span:not(.fa-solid) {
    padding-left: 22px;
}

.item-filters-size-list-item-title::before {
    content: "";
    position: absolute;
    display: flex;
    width: 13px;
    height: 13px;
    border: 1px solid #ebebeb;
}

.item-filters-size-list-item {
    display: none;
}

.item-filters-size-list-item-title .fa-check {
    color: #ef5b70;
    position: absolute;
    left: 0;
    display: none;
}

.item-filters-size-list-item:checked~.fa-check {
    display: block;
}

/*====    Filters style end    ====*/




/*====   Pagination style start   ====*/
.pagination-container {
    text-align: center;
}

.pagination-list {
    display: inline-flex;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.pagination-item {
    min-height: 42px;
    display: flex;
    align-items: center;
}

.pagination-link {
    font-size: 16px;
    padding: 5px 10px;
    text-decoration: none;
    color: #c4c4c4;
}

.pagination-link:hover {
    color: #ef5b70;
}

.pagination-link:active {
    color: #c4c4c4;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.pagination-link.fa-angle-left,
.pagination-link.fa-angle-right {
    color: #000;
    padding: 5px 8px;
}

.pagination-link.fa-angle-left:hover,
.pagination-link.fa-angle-right:hover {
    color: #ef5b70;
}

.pagination-link.fa-angle-left:active,
.pagination-link.fa-angle-right:active {
    color: #000;
}

.pagination-link.active {
    color: #ef5b70;
}

/*====    Pagination style end    ====*/



/*====   ProductItem style start   ====*/
.product {
    position: relative;
}

.product-slider {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.product-slider-img {
    background: url(../images/product-slide-img.png) center no-repeat #f7f7f7;
    border: 1px solid #eaeaea;
    min-height: 777px;
}

.product-slider-btn {
    width: 47px;
    height: 47px;
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    font-size: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.product-slider-btn:hover {
    border-color: #f16d7f;
    background-color: #fff;
    color: #f16d7f;
}

.product-slider-btn:active {
    border-color: #d8d8d8;
    background-color: #d8d8d8;
}

.product-slider-left-btn {
    color: #000;
}

.product-slider-right-btn {
    color: #f16d7f;
    right: 0;
}

.product-description-wrp {
    border: 1px solid #eaeaea;
    background-color: #fff;
    padding: 65px 0;
    position: relative;
    top: -65px;
}

.product-description {
    margin: 0 auto 65px auto;
    max-width: 640px;
}

.product-description-collection-title {
    font-size: 14px;
    color: #f16d7f;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
    position: relative;
}

.product-description-collection-title::after {
    content: "";
    display: block;
    height: 3px;
    width: 64px;
    background-color: #ef5b70;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.product-description-title {
    font-size: 18px;
    color: #4d4d4d;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
}

.product-description-txt {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5e5e5e;
    margin-bottom: 32px;
}

.product-description-price {
    font-size: 24px;
    line-height: 29px;
    color: #ef5b70;
    text-align: center;
    margin-bottom: 65px;
}

.product-description-divider {
    margin: 0;
    border-color: #eaeaea;
}

.product-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.margin-side {
    margin: 0 46px;
}

.add-to-card {
    display: flex;
    padding: 0 25px;
    margin: 0 auto;
    min-height: 47px;
    height: 1px;
    border: 1px solid #ff6a6a;
    color: #f26376;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.add-to-card:hover {
    background-color: #f16d7f;
    color: #fff;
}

.add-to-card:hover svg {
    fill: currentColor;
}

.add-to-card:active {
    border-color: #fff;
    color: #fff;
}

.add-to-card svg {
    fill: currentColor;
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.add-to-card span {
    white-space: nowrap;
}

/*====    ProductItem style end    ====*/



/*====   Cart style start   ====*/
.cart-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 128px;
}

.cart {
    width: 60%;
    position: relative;
    padding-right: 20px;
    max-width: 675px;
}

.cart-form-wrp {
    width: 40%;
    max-width: 360px;
}

.cart-list {
    margin-bottom: 72px;
}

.cart-card:not(:last-child) {
    margin-bottom: 40px;
}

.cart-card {
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    background-color: #fff;
}

.cart-card-article {
    display: flex;
    align-items: center;
    position: relative;
}

.cart-card-link:hover .cart-card-img {
    transform: scale(1.05);
}

.cart-card-img {
    max-height: 306px;
    display: block;
    transition: transform .7s;
}

.cart-card-txt-wrp {
    padding: 22px 30px;
}

.cart-card-close-btn {
    background-color: transparent;
    color: #575757;
    border: none;
    font-size: 28px;
    position: absolute;
    right: 22px;
    top: 22px;
    transition: transform .7s;
}

.cart-card-close-btn:hover {
    transform: rotate(360deg);
    color: #000;
}

.cart-card-title {
    font-size: 24px;
    text-transform: uppercase;
    color: #222;
    white-space: pre-wrap;
    margin-bottom: 42px;
    padding-right: 35px;
    max-width: 245px;
}

.cart-card-txt,
.cart-card-quantity-label {
    color: #575757;
    font-size: 22px;
    margin-bottom: 6px;
}

.cart-card-txt-colored {
    color: #ef5b70;
}

.cart-card-txt-noncolored {
    color: #6f6e6e;
}

.cart-card-quantity {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cart-card-quantity-input {
    border: 1px solid #eaeaea;
    border-radius: 0;
    margin-left: 24px;
    height: 25px;
    padding: 2px 0 2px 2px;
    max-width: 40px;
}

.cart-btn-wrp {
    display: flex;
    justify-content: space-between;
}

.grey-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #a4a4a4;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 40px;
    font-size: 14px;
    white-space: pre-wrap;
    text-align: center;
}

.grey-btn:hover {
    border-color: #ef5b70;
    color: #ef5b70;
}

.grey-btn:active {
    border-color: #a4a4a4;
    color: #000;
}

.cart-form-title {
    text-transform: uppercase;
    white-space: pre-wrap;
    color: #222;
    margin-bottom: 20px;
    font-size: 16px;
}

.form-input {
    border: 1px solid #a4a4a4;
    background-color: #fff;
    padding: 13px 17px;
    color: #222;
    font-size: 13px;
    width: 100%;
}

.form-input::placeholder {
    color: #b1b1b1;
    font-size: 13px;
}

.form-input:not(:last-child) {
    margin-bottom: 20px;
}

.cart-form-input:last-child {
    margin-bottom: 23px;
}

.cart-form-btn-quote {
    padding: 10px 15px;
    font-size: 11px;
    color: #a4a4a4;
    margin-bottom: 57px;
}

.cart-summary {
    background-color: #f5f3f3;
    padding: 42px 44px;
}

.cart-summary-sub-total {
    font-size: 11px;
    margin-bottom: 12px;
    color: #a4a4a4;
    text-align: right;
    text-transform: uppercase;
}

.cart-sub-summary-cost,
.cart-summary-grand-cost {
    margin-left: 25px;
}

.cart-summary-grand-total {
    font-size: 16px;
    margin-bottom: 21px;
    color: #222;
    text-transform: uppercase;
    text-align: right;
}

.cart-summary-grand-cost {
    font-weight: 700;
    color: #f16d7f;
}

.cart-summary-divider {
    border-color: #e2e2e2;
    margin: 0 0 17px 0;
}

.cart-form-btn-submit {
    border: 1px solid #f16d7f;
    border-radius: 0;
    background-color: #f16d7f;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    height: 1px;
}

.cart-form-btn-submit:hover {
    background-color: #fff;
    color: #f16d7f;
}

.cart-form-btn-submit:active {
    background-color: #f16d7f;
    color: #fff;
}

/*====    Cart style end    ====*/



/*====   Registration style start   ====*/
.registration-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 96px;
}

.registration-form {
    width: 35%;
}

.registration-benefit {
    width: 60%;
    padding-left: 30px;
}

.registration-form-fieldset {
    margin-bottom: 33px;
}

.radio-holder {
    display: flex;
    align-items: center;
}

.radio-label {
    display: flex;
    position: relative;
    font-size: 11px;
    color: #000;
    margin-right: 20px;
}

.radio-input {
    display: none;
}

.radio-label::before {
    content: "";
    position: absolute;
    display: flex;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #a4a4a4;
}

.radio-check {
    display: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
}

.radio-input:checked~.radio-check {
    display: block;
    background-color: #f16d7f;
}

.radio-txt {
    padding-left: 22px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.registration-form-legend {
    color: #222;
    font-size: 16px;
    white-space: pre-wrap;
    margin-bottom: 20px;
}

.registration-form-description {
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
    margin-bottom: 39px;
}

.registration-form-btn-submit {
    background-color: #f16d7f;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #f16d7f;
    font-size: 14px;
    padding: 16px 29px;
    white-space: pre-wrap;
}

.registration-form-btn-submit:hover {
    color: #f16d7f;
    background-color: #fff;
}

.registration-form-btn-submit:active {
    color: #fff;
    background-color: #f16d7f;
}

.registration-form-btn-submit .fa-solid {
    padding-left: 20px;
}

.regestration-benefit-title,
.regestration-benefit-txt {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 22px;
    color: #000;
}

.regestration-benefit-title {
    text-transform: uppercase;
}

.regestration-benefit-item-txt {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 16px;
    color: #000;
    display: flex;
}

.regestration-benefit-item-txt .fa-solid {
    padding-right: 23px;
}

/*====    Registration style end    ====*/



/*====   Footer style start   ====*/
.footer-subscribe {
    background: url(../images/footer_bg.jpg) center center no-repeat rgba(244, 244, 244, 0.7);
    background-size: cover;
    height: 448px;
}

.footer-subscribe-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

.footer-subscribe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(33.3333333% - 20px);
}

.footer-subscribe-info-avatar {
    height: 96px;
    width: auto;
    margin-bottom: 30px;
}

.footer-subscribe-info-txt {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    max-width: 100%;
}

.footer-subscribe-info-txt span {
    font-style: italic;
}

.footer-subscribe-form-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 20px);
}

.footer-subscribe-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #222224;
}

.footer-subscribe-subtitle {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #222224;
    margin-bottom: 32px;
}

.footer-subscribe-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.footer-subscribe-email {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #e1e1e1;
    color: #222224;
    font-size: 14px;
    min-height: 49px;
    min-width: 256px;
    border: none;
    padding: 0 22px;
    display: flex;
    align-items: center;
}

.footer-subscribe-email:focus {
    background-color: #fff;
    outline: none;
}

.footer-subscribe-btn {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e05c6e;
    color: #fff;
    font-size: 14px;
    min-height: 49px;
    border: none;
    padding: 0 22px;
    display: flex;
    align-items: center;
    border: 1px solid #e05c6e
}

.footer-subscribe-btn:hover {
    background-color: #f16d7f;
}

.footer-subscribe-btn:active {
    background-color: #e05c6e;
    color: #fff;
}

.footer-copyright {
    background-color: #222224;
    height: 79px;
}

.footer-copyright-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-copyright-txt {
    color: #fbfbfb;
    font-size: 16px;
    line-height: 19px;
}

.footer-socials-list {
    display: flex;
}

.foooter-socials-item {
    margin-left: 8px;
}

.foooter-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
}

.foooter-socials-link svg {
    height: 16px;
}

.foooter-socials-link:hover {
    background-color: #f16d7f;
    color: #fff;
}

.foooter-socials-link:active {
    background-color: #fff;
    color: #f16d7f;
}

/*====    Footer style end    ====*/


@media (max-width: 1030px) {
    .cart-wrp {
        flex-direction: column;
    }

    .cart,
    .cart-form-wrp {
        max-width: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 0;
    }

    .cart {
        margin-bottom: 64px;
    }

    .cart-btn-wrp {
        justify-content: center;
    }

    .cart-btn-clear {
        margin-right: 24px;
    }

    .cart-btn-continue-shopping {
        margin-left: 24px;
    }

    .cart-form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cart-form-input-wrp,
    .cart-summary {
        width: calc(50% - 8px);
    }
}



@media (max-width: 768px) {
    .main-header-container {
        padding-left: 32px;
        padding-right: 32px;
    }


    .main-banner-container {
        background-position-x: 15%;
    }

    .main-banner {
        height: 368px;
        margin-bottom: 20px;
    }

    .main-banner-title {
        font-size: 44px;
        line-height: 53px;
        margin-left: auto;
        background-color: #f1e4e6;
    }

    .main-banner-subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .breadcrumbs-container:not(.product-breadcrumbs) {
        margin-bottom: 24px;
    }

    .new-arrivals .item-card:nth-child(3) {
        display: none;
    }

    .item-filters-category {
        min-width: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .item-filters-category-list-wrp {
        min-width: 360px;
    }

    .categories {
        margin-bottom: 155px;
    }

    .categories-small-item {
        width: calc(33.3333333% - 13px);
        margin-bottom: 19px;
        min-height: 167px;
    }

    .categories-big-item {
        min-height: 116px;
    }

    .item-txt {
        margin-bottom: 73px;
    }

    .item-card {
        width: calc(50% - 8px);
        margin-bottom: 18px;
    }

    .item-list {
        margin-bottom: 33px;
    }

    .last-display-none-item {
        display: none;
    }

    .change-order-item {
        order: 2;
    }

    .items {
        margin-bottom: 65px;
    }

    .product-slider-img {
        min-height: 624px;
        background-size: contain;
    }

    .product-description-container {
        padding: 0;
        margin-bottom: 128px;
    }

    .product-description-wrp {
        top: 0;
        border-left: none;
        border-right: none;
    }

    .product-description-divider {
        max-width: 46%;
        margin-left: auto;
        margin-right: auto;
    }

    .margin-side {
        margin: 0 18px;
    }

    .filter-feature-switch-btn .fa-solid {
        padding-left: 0;
    }

    .product-description-wrp {
        padding-left: 15px;
        padding-right: 15px;
    }

    .product-description-title {
        margin-bottom: 30px;
    }

    .features-container {
        flex-direction: column;
        padding-top: 49px;
        padding-bottom: 49px;
    }

    .features-item {
        max-width: 360px;
        width: 100%;
    }

    .features-item:not(:last-child) {
        margin-bottom: 48px;
    }

    .features-item-title {
        margin-bottom: 16px;
    }

    .registration-form,
    .registration-benefit {
        width: calc(50% - 11px);
        padding-left: 0;
    }

    .regestration-benefit-title,
    .regestration-benefit-txt,
    .regestration-benefit-item-txt {
        font-size: 16px;
    }

    .footer-subscribe {
        height: auto;
        background-position-x: 25%;
    }

    .footer-subscribe-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 140px;
    }

    .footer-subscribe-form-wrp {
        width: 100%;
    }

    .footer-subscribe-info {
        width: 100%;
        max-width: 360px;
        margin-bottom: 85px;
    }

    .footer-subscribe-email {
        min-width: auto;
    }
}



@media (max-width: 630px) {
    .cart-card-img {
        max-height: 188px;
    }

    .cart-card-txt-wrp {
        padding: 15px;
    }

    .cart-card-close-btn {
        top: 17px;
        right: 12px;
        font-size: 17px;
    }

    .cart-card-title {
        font-size: 16px;
        margin-bottom: 25px;
        max-width: 145px;
        padding-right: 15px;
    }

    .cart-card-txt {
        margin-bottom: 4px;
    }

    .cart-card-txt,
    .cart-card-quantity-label {
        font-size: 14px;
    }

    .cart-card-quantity-input {
        height: 16px;
        font-size: 14px;
    }

    .grey-btn {
        text-transform: none;
        padding: 9px 18px;
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }

    .cart-btn-wrp {
        justify-content: space-between;
    }

    .cart-list {
        margin-bottom: 30px;
    }

    .cart {
        margin-bottom: 48px;
    }

    .cart-form {
        flex-direction: column;
    }

    .cart-form-input-wrp,
    .cart-summary {
        width: 100%;
    }

    .registration-wrp {
        flex-direction: column;
    }

    .registration-form,
    .registration-benefit {
        width: 100%;
    }

    .registration-form {
        margin-bottom: 40px;
    }
}



@media (max-width: 375px) {
    .main-header-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .search-form__input:focus {
        margin-left: -30px;
        width: 100px;
    }

    .main-user-link,
    .main-cart-icon {
        display: none;
    }

    .main-banner {
        margin-bottom: 64px;
    }

    .main-banner-container {
        background-image: none;
        justify-content: center;
    }

    .main-banner-title {
        margin-left: 0;
        font-size: 38px;
        line-height: 46px;
    }

    .main-banner-subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .breadcrumbs-container {
        justify-content: center;
    }

    .item-filters-category-list-wrp {
        min-width: 280px;
    }

    .item-filters-category-btn span {
        display: none;
    }

    .item-filters-category-btn svg {
        margin: 0;
        height: 22px;
        width: auto;
    }

    .filter-feature-switch-btn {
        font-size: 12px;
    }

    .item-filters-trending,
    .item-filters-size {
        margin-right: 23px;
    }

    .categories {
        margin-bottom: 64px;
    }

    .categories-small-item {
        width: 100%;
        margin-bottom: 32px;
        min-height: 247px;
    }

    .categories-big-item {
        min-height: 111px;
    }

    .item-txt {
        margin-bottom: 65px;
    }

    .item-card {
        width: 100%;
        margin-bottom: 15px;
    }

    .item-list {
        margin-bottom: 25px;
    }

    .items {
        margin-bottom: 96px;
    }

    .product-description-container {
        margin-bottom: 64px;
    }

    .features-container {
        padding-bottom: 81px;
    }

    .footer-subscribe-container {
        padding-bottom: 110px;
    }

    .footer-subscribe-info {
        margin-bottom: 59px;
    }

    .footer-subscribe-info-txt {
        font-size: 18px;
        line-height: 22px;
    }

    .footer-subscribe-title {
        line-height: 37px;
    }

    .footer-subscribe-subtitle {
        margin-bottom: 22px;
        font-size: 14px;
    }

    .footer-subscribe-email {
        width: 100%;
        min-width: auto;
    }

    .footer-copyright {
        height: auto;
    }

    .footer-copyright-container {
        flex-direction: column-reverse;
        padding-top: 43px;
        padding-bottom: 10px;
    }

    .footer-socials-list {
        margin-bottom: 40px;
    }
}